:root{
    --primary-bg: #F8F8F8;
    --primary:#515151;
    --white-color: #F8F8F8;
}
@font-face {
    font-family: Avenir;
    src: url('asset/images/Avenir-Black.ttf');
}
@font-face {
    font-family: Avenir;
    src: url('asset/images/Avenir-Medium.ttf');
}
*{
    font-family: Avenir;
}
.navbar{
    height: 120px;
    box-shadow: none;
    background-color: var(--primary-bg);
}
p{
    margin: 0px;
}
.multi-form{
    margin-top: 80px;
    width: 100%;
    margin: auto;
}
/* =============== Extra  code ============== */
.form-content1{
    padding-bottom: 180px;
}
/* =============== end ============== */
/* =========================================== */
/* ============= Multi form Css -============= */
/* =========================================== */
#regForm {
    /* background-color: #ffffff;
    margin: 100px auto;
    padding: 40px;
    width: 100%;
    min-width: 300px; */
}

h1 {
    text-align: center;
}

input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Avenir;
    border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
    background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
    display: none;
}

button {
    background-color: #04AA6D;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    font-family: Avenir;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

#prevBtn {
    background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.step-data{
    border: 3px solid var(--primary);
    border-radius: 3px;
}
.step p{
    padding: 0px 20px;
}
.step {
    padding: 20px;
    background-color: var(--primary);
    transition: all .3s ease-in-out;
}
.svg-color{
    filter: grayscale(100%) invert(100%) sepia(100%) saturate(0%) brightness(100%) contrast(100%);
}
.step p{
    color: var(--white-color);
}
.step.active {
    background-color: var(--white-color);
}
.step.active p{
    color: var(--primary);
}
.step.active .svg-color{
    filter:invert(0);
}
.step.active .svg-color1{
    filter:invert(1);
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: var(--white-color);
}
.step.finish p{
    color: var(--primary);
}
.step.finish .svg-color{
    filter: invert(0) ;
    /* Off-white color */
}
.step.finish .svg-color1{
    filter: invert(1) ;
    /* Off-white color */
}
.stepdata{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ========================== Forms ============== */
.form-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    /* width: 70%;
    margin: auto; */
}
.formdata{
    
}
/* .step-data{
    width: 70%;
    margin: auto;
} */
.form-select{
    height: 60px;
    margin-top: 20px;
    width: 100%;
}
.sub-btn{
    width: 100%;
    margin-top: 25px;
    border-radius: 5px;
}
.sub-btn button{
    background-color: var(--primary);
    width: 100%;
    border-radius: 5px;
    transition: all .3s ease-in-out;
    padding: 25px 30px ;
    font-size: 14px;
    font-weight: 800;
    line-height: 19px;
    letter-spacing: 0.02em;
    text-align: center;
}
.sub-btn a{
    background-color: var(--primary);
    width: 100%;
    border-radius: 5px;
    transition: all .3s ease-in-out;
    padding: 25px 30px ;
    font-size: 14px;
    font-weight: 800;
    line-height: 19px;
    color: white !important;
    letter-spacing: 0.02em;
    text-align: center;
    border: 2px solid var(--primary);
}
.pre button{
    background-color: transparent !important;
    width: 100%;
    border-radius: 5px;
    color: var(--primary);
    transition: all .3s ease-in-out;
    padding: 25px 30px ;
    font-size: 14px;
    font-weight: 800;
    line-height: 19px;
    letter-spacing: 0.02em;
    text-align: center;
    border: 2px solid var(--primary);
}
.pre a{
    background-color: transparent !important;
    width: 100%;
    border-radius: 5px;
    color: var(--primary) !important; 
    transition: all .3s ease-in-out;
    padding: 25px 30px ;
    font-size: 14px;
    font-weight: 800;
    line-height: 19px;
    letter-spacing: 0.02em;
    text-align: center;
    border: 2px solid var(--primary);
}

.log-btn{
    width: 100%;
    margin-top: 8px;
    border-radius: 5px;
}
.log-btn a{
    background-color: transparent;
    width: 100%;
    border-radius: 5px;
    transition: all .3s ease-in-out;
    padding: 25px;
    font-size: 14px;
    font-weight: 800;
    line-height: 19px;
    letter-spacing: 0.02em;
    color: var(--primary);
    text-align: center;
    border: 2px solid var(--primary);
}
.pre{
    margin-top: 10px;
}
.fabric-btn a{
    border: 2px solid var(--primary);
}
.card-submit-btn button{
    border: 2px solid var(--primary);
}
/* =========================================== */
/* ========= End Multi form Css -============= */
/* =========================================== */


.cards{
   width: 90%;
   margin: auto;
   margin-top: 50px;
   padding-bottom: 50px;
}
.card{
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: start;
    box-shadow: none;
    border: 1px solid #51515127;

}
.card img{
    width: 100%;
}
.card-content p{
    padding-bottom: 25px;
}
.card-content{
    padding: 20px;
}
.short p{
    padding-bottom: 50px;
}
.card-price p{
    font-weight: 500;
}
.card-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color:var(--primary-bg);
}
.card-btn button{
    background-color: var(--primary);
    border-radius: 5px;
    padding: 10px 40px;
}
.card-submit-btn{
    width: 50%;
}
.card-row{
    padding-bottom: 70px;
}
.fabric-section{
    margin-top: 100px;
}
.fabric-content{
    width: 85%;
}



/* ====================== Fabric Card ===================== */
.fabric-card{
    /* padding: 20px; */
    border: 1px solid #51515131;
    border-radius: 5px;
    font-size: 14px;
    margin-top: 50px;
}
.f-head{
    background-color: var(--primary-bg);
    width: 100%;
    text-align: center;
    padding: 20px;
}
.f-head h6{

        font-size: 18px;
        font-weight: 800;
        line-height: 25px;
        letter-spacing: 0.02em;
        text-align: center;
        margin: 0px;
}
.f-head p{
        font-size: 14px;
        font-weight: 500;
        line-height: 19px;
        letter-spacing: 0.02em;
        text-align: center;
}
.f-text{
    padding: 14px;
    padding-top: 20px;
    text-align: center;
}
.f-text p{
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: center;
}
.f-p2{
    padding-top: 20px;
    padding-bottom: 30px;
    border-bottom: 1px solid #51515131;
}
.f-text p span{
    font-weight: 500 !important;
    font-size: 15px;
}
.f-bed {
    padding: 14px 63px;
    text-align: center;
}
.f-bed p{
    
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: center;
}
.fabric-content{
    width: 55%;
}
.moto-content{
    width: 32%;
}
.f-type{
    display: flex;
    justify-content: space-between;
    width: 91%;
    padding: 10px 45px;
    background-color: var(--primary-bg);
    border-radius: 5px;
}
.f-type p{
    font-weight: 400;
}
.f-btn{
    background-color: var(--primary-bg);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    margin-top: 30px;
}
.f-btn button{
    background-color: transparent;
    border: 2px solid var(--primary);
    color: var(--primary);
    padding: 5px 30px;
    border-radius: 6px;
    transition: all .3s ease-in-out;
}
.f-btn button:hover{
    background-color: var(--primary);
    color: var(--white-color);
}
.f-card-bottom{
    background-color: var(--primary-bg);
    padding: 20px 50px;
    text-align: center;
    margin-top: 50px;
}
.f-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;

}
.fabric-btn {
    width: 40%;
}

.fm-btn{    
    margin-top: 100px;
}

.moto-section{
    margin-top: 100px   ;
}
.moto-cards{
    width: 90%;
}
.moto-card{
    /* padding: 20px; */
    border: 1px solid #51515136;
    border-radius: 5px;
    margin-top: 40px;
}
.moto-icon{
    padding: 20px;
}
.moto-bed{
    /* padding: 30px 0px; */
    /* padding: 20px; */
}
.moto-qty{
    padding: 20px;
}
.moto-tag{
    padding: 20px;
}
.moto-btn{
    width: 100%;
    background-color: var(--primary-bg);
    padding: 20px
}
.moto-tag p{
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    letter-spacing: 0.02em;
   
}
.moto-btn button{
    background-color: var(--primary);
    padding: 6px 25px;
    color: white;
    border: 2px solid var(--primary);
    border-radius: 6px;
}
.moto-end-btn{
    margin-top: 50px;
    width: 30%;
}
.moto-price{
    width: 30%;
}
.moto-last-btn{
    margin-top: 35px;
}
.moto-last-btn a {
    background-color: transparent !important;
    
    border-radius: 5px;
    color: var(--primary);
    transition: all .3s ease-in-out;
    padding: 25px 159px;
    font-size: 14px;
    font-weight: 800;
    line-height: 19px;
    letter-spacing: 0.02em;
    text-align: center;
    border: 2px solid var(--primary);
}
/* +++++++++++++++++++ MODAL ========== ======= */
.modal-btn{
    background: transparent;
    box-shadow: none;
    color: var(--primary);
    border: none;
}
.modal-btn:hover{
    background: transparent;
    box-shadow: none !important;
    color: var(--primary);
}
.modal-btn:focus{
    background: var(--primary-bg) !important;
    box-shadow: none !important;
    color: var(--primary) !important; 
}
.modal


/* +++++++++++++++++++ End MODAL ================= */
/* =========================== PAYMENT SECTION ====================== */
.payment-section{
    width: 100% !important;
}
.payment-row{
    margin-top: 50px;
    width: 72%;
}
.payment-head{
    padding: 20px;
    background-color: var(--primary-bg);
    margin-bottom: 10px;
    text-align: center;
}
.payment-head p{
    font-family: Avenir;
        font-size: 18px;
        font-weight: 800;
        line-height: 24.59px;
        letter-spacing: 0.02em;
        text-align: center;
}
.order-col{
    border: 1px solid #5151511f;
        border-radius: 6px;
}
.order-sum{
    padding: 20px;
   
}
.os-title span{
    font-family: Avenir;
        font-size: 16px;
        font-weight: 800;
        line-height: 21.86px;
        letter-spacing: 0.02em;
        text-align: left;
}
.os-title p{
    font-family: Avenir;
        font-size: 12px;
        font-weight: 300;
        line-height: 16.39px;
        letter-spacing: 0.02em;
        text-align: right;
        padding-top: 10px;
}
.os-change{
    font-family: Avenir;
        font-size: 12px;
        font-weight: 300;
        color: var(--primary);
        line-height: 16.39px;
        letter-spacing: 0.02em;
        text-align: right;
        padding-right: 3px;
        border-right: 1px solid var(--primary);
}
.os-remove{
    font-family: Avenir;
        font-size: 12px;
        font-weight: 300;
        line-height: 16.39px;
        letter-spacing: 0.02em;
        text-align: right;
        color: #BB4C4C;
        padding-left: 6px;
}
.osb-bed p{
    font-family: Avenir;
        font-size: 16px;
        font-weight: 800;
        line-height: 21.86px;
        letter-spacing: 0.02em;
        text-align: left;
}
.osb-count p{
    font-family: Avenir;
        font-size: 12px;
        font-weight: 300;
        line-height: 16.39px;
        letter-spacing: 0.02em;
        text-align: left;
        padding: 8px;
        background-color: var(--primary-bg);
        border-radius: 6px;
}
.os-bed-sec{
    margin-top: 50px;
    padding-bottom: 5px;
    border-bottom: 2px solid #51515149;
}
.osb-head p{
    font-family: Avenir;
        font-size: 16px;
        font-weight: 800;
        line-height: 21.86px;
        letter-spacing: 0.02em;
        text-align: left;
        padding-bottom: 10px;
}
.osb-count{
    column-gap: 10px;
}

.order-total p{
    font-family: Avenir;
        font-size: 16px;
        font-weight: 800;
        line-height: 21.86px;
        letter-spacing: 0.02em;
}

.person-pay-form h6{
    font-family: Avenir;
        font-size: 16px;
        font-weight: 800;
        line-height: 21.86px;
        text-align: left;
}
.card-pay-sec{
    margin: auto;
    width: 72%;
    margin-top: 80px;
}
.person-pay-inp input{
    padding: 30px;
    height: 70px;
    border-radius: 6px;
}
.person-pay-inp{
    padding: 10px 0px;
}
.card-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 13px 0px;
    border: 2px solid var(--primary);
    border-radius: 6px;
    margin: 13px 0px;
    margin-top: 7px;
}
.coupen{
    align-self: flex-end;
}
.coupen a{
    color: var(--primary);
}
.card-pay-check{
    background-color: var(--primary-bg);
    width: 72%;
    margin: auto;
    padding: 15px;
    border-radius: 6px;
    margin-top: 100px;
    margin-bottom: 100px;
}
.card-pay-check input{
    width: 3%;
    margin-left: 20px;
}
.card-pay-check p{
    padding: 20px;
}
.card-pay-check a{
    color: var(--primary);
    text-decoration: underline;
}
.pay-submit-btn{
    width: 40%;
    margin: auto;
}
.pay-total-price{
    width: 40%;
}

/* =========================== END PAYMENT SECTION ====================== */
.moto-modal-btn{
    background-color: transparent;
    box-shadow: none;
}
.moto-modal-btn:hover{
    box-shadow: none !important;
}
.cons-header{

    background-color: var(--primary-bg);
}
.cons-title{
    text-align: center;
    margin: auto;
    margin-right: 0px;
}
.cons-body{
    margin-top: 50px;
    width: 89%;
    margin: auto;
}
.cons-body p{
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center;
}
.cons-btn{
    width: 100%;
}
.cons-btn button{
    width: 100%;
    background-color: var(--primary);
    color: white;
    border-radius: 6px;
    padding: 20px;
    margin-bottom: 30px;
}
















footer{
    background-color: var(--primary);
    margin-top: 100px;
}
.footer-content p{
    color: var(--white-color);
    padding: 20px 0px;
}



/* ============================================ */
/* ============================================ */
/* =================== Flickty Slider ================= */
/* external css: flickity.css */
/* external css: flickity.css */

/* external css: flickity.css */

.fabr-slide-content{
    padding: 50px;
}
.fabr-slide .img{
    border-radius: 10px;
    width: 97%;
}
.fabr-slide-content ul li{
    padding: 8px 0px;
}
.carousel{
    width: 100%;
}
.carousel-cell {
    width: 100%;
}
.flickity-page-dots {
    top: 38%;
}
.flickity-page-dots .dot {
    background-color: white;
    border: 2px solid black;
    width: 15px ;
    height: 15px;
    margin: 0px 5px;
}
.flickity-prev-next-button.next{
    display: none;
}
.flickity-prev-next-button.previous{
    display: none;
}
.flickity-page-dots .dot.is-selected{
    background-color: black;
}

/* cell number */
/* .carousel-cell:before {
    display: block;
    text-align: center;
    content: counter(carousel-cell);
    line-height: 200px;
    font-size: 80px;
    color: white;
} */

/* cell number */


/* ============================================ */
/* ============================================ */
/* =================== End Flickty Slider ================= */
.formdata{
    margin-top: 40px;
}
.form-content1{
    width: 50%;
}
.fc1{
    width: 100%;
}
.text-area-modal{
    padding: 30px !important;
    border: 1px solid var(--primary) !important;
    border-radius: 6px;
    margin-top: 8px;
    width: 100%;
}
/* .text-area-modal:focus{
    border-color: var(--primary) !important;
    outline-color: var(--primary);
} */
.car-modal{
    height: 720px;
}
/* ====================== */
/* ====================== */
/* ====================== */
/* ====================== */
/* ====================== */
.main-div {
    height: 100%;
    width: 467px;
    display: flex;
    align-items: center;
    overflow: hidden;

}

.second-div {
    display: flex;
    width: 300%;
    height: 100%;
}

.main-div .fabr-slide {
    object-fit: cover;
    object-position: center;
    width: 467px;
}


.button-div{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 285px;
    left: 225px;
    column-gap: 10px;
}
.button-div span {
    width: 15px;
    height: 15px;
    background-color: var(--primary);
    border-radius: 100px;
    cursor: pointer;
}
