:root {
    --primary-bg: #F8F8F8;
    --primary: #515151;
    --white-color: #F8F8F8;
}

.login-form-container{
    margin-top: 80px;
    padding-bottom: 100px;
   
}
.form-data{
    width: 50%;
    margin: auto;
}
.form-data p{
    font-size: 18px;
    font-weight: 800;
    line-height: 25px;
    letter-spacing: 0.02em;
    text-align: left;
    padding-bottom: 10px;
}
.log-input{
    height: 60px;
    margin: 8px 0px;
    padding: 20px 30px;
    border-radius: 5px;    
}
.log-input::placeholder{
    color:var(--primary) ;
    opacity: .8;
}
.login-img{
    margin-bottom: 40px;
}
.checkbox{
width: 4%;
height: 30px;
/* padding: 0px 0px 0px 20px; */
margin-left: 20px;
}
.form-check{
  background-color: var(--primary-bg);
    padding: 0px 20px;
  height: 50px;
  margin-top: 8px;

}
.form-check p{
    
        font-size: 14px;
        font-weight: 300;
        line-height: 24px;
        letter-spacing: 0em;
        margin: 0px;
        padding: 0px 0px 0px 10px;
        
}
.form-check p a{
    color: var(--primary);
    text-decoration: underline;
}

.butn button{
    width: 100%;
    background-color: var(--primary);
    margin-top: 30px;
    padding: 15px 0px;
    font-weight: 800;
}
.butn a{
    width: 100%;
    background-color: var(--primary);
    margin-top: 30px;
    font-size: 14px;
    padding: 15px 0px;
    color: var(--white-color);
    text-align: center;
    font-weight: 800;
    border: 2px solid var(--primary);
    border-radius: 6px;
}
.back-btn a{
    width: 100%;
    background-color:transparent;
    border: 2px solid var(--primary);
    color: var(--primary);
    margin-top: 10px;
    padding: 15px 0px;
    font-weight: 800;
    font-size: 14px;
    text-align: center;
    border-radius: 6px;
}
